#Backend URL
NEXT_PUBLIC_SERVER_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#Cloudflare Turnstile Keys
CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=

#Temp Form
NEXT_PUBLIC_FORMSPREE_FORM_ID=